.nav-container {
  width: 100%;
  align-content: center;
  text-align: center;
  display: flex;
  height: 50px;
  background: linear-gradient(to right, #677158, #556142);
  border-bottom: black 1px solid;
}

.options-container {
  width: 100%;
  height: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
  text-align: center;
}

.dating-app-logo {
  width: 9%;
  height: 100%;
  align-items: center;
  justify-content: end;
  display: flex;
  font-size: 20px;
  font-weight: bold;
  font-family: "SF Pro Rounded", sans-serif;
  color: white;
  cursor: default;
  --webkit-text-stroke: 2px black;
}

.dating-app-logo:hover {
  color: #e5c7ed;
}

.navbar-links {
  width: 20%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.form-container {
  width: 30%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 10px;
  padding-right: 10px;
}

.dropdown-toggle, .dropdown-item {
  cursor: pointer;
}



